In [49]:
import pandas as pd

In [50]:
# Read the data from CSV files
user_signup_data = pd.read_csv('Q2_users signup.csv')
user_offer_data = pd.read_csv('Q2_User offer data.csv')
user_offer_completion_data = pd.read_csv('Q2_User offer completion data (1).csv')
rewards_details = pd.read_csv('Q2_rewards details.csv')

In [51]:
user_signup_data.head()

                                user_id app_id signed_up_on last_login_date
0  c925ccad-98e7-4500-833e-a49aa066aeec  sikka   2022-11-26      2022-11-26
1  7cdb9d2c-9644-42d0-8d44-50fa57747523  sikka   2022-11-26      2022-11-26
2  e2dfd115-a8b0-4e3e-96e5-9b11e5f316f1  sikka   2022-11-26      2022-11-28
3  f55000a3-dd68-44d8-b461-41c85d963ce2  sikka   2022-11-26      2022-11-27
4  a6d5ed73-5c1c-4666-a592-f93ab4489cf5  sikka   2022-11-26      2022-11-26

In [52]:
user_signup_data.columns

Index(['user_id', 'app_id', 'signed_up_on', 'last_login_date'], dtype='object')

In [53]:
user_offer_data.head()

,Unnamed: 0,user_id,offer_id,status,started_at,completed_at,expires_at
0,0,44f9c9f1-1ce1-4b04-8042-ddb1c548c589,792,ONGOING,2022-11-26 07:25:38.995614+00:00,NaN,2022-11-27 18:29:59+00:00
1,1,e5c792a3-9cd9-4d10-a7b5-e5ee0f0f5fad,3462,ONGOING,2022-11-26 01:19:42.059483+00:00,NaN,2022-11-28 01:19:42.066140+00:00
2,2,033c38d4-fd46-45a2-b09a-18d637c54129,3462,ONGOING,2022-11-26 14:12:39.365453+00:00,NaN,2022-11-28 14:12:39.369689+00:00
3,3,8a488246-83d3-4028-b216-85ee8c3e504d,2328,ONGOING,2022-11-26 02:51:44.438026+00:00,NaN,2022-11-28 02:51:44.441869+00:00
4,4,aff26172-41d6-4e69-9b02-48011fe35804,3467,ONGOING,2022-11-26 11:44:25.915581+00:00,NaN,2022-11-28 11:44:25.921249+00:00

In [54]:
user_offer_data.columns

Index(['Unnamed: 0', 'user_id', 'offer_id', 'status', 'started_at',
       'completed_at', 'expires_at'],
      dtype='object')

In [55]:
user_offer_completion_data.head()

,Unnamed: 0,reward_id,user_id,date,app_id
0,0,3712,4cb29e43-9f23-42fe-bab8-2422f42e7a91,2022-11-29,sikka
1,1,935,4cb29e43-9f23-42fe-bab8-2422f42e7a91,2022-11-29,sikka
2,2,3416,44f9c9f1-1ce1-4b04-8042-ddb1c548c589,2022-11-28,sikka
3,3,3720,55e70808-0ed9-44fd-9d87-819ba9dc4d3e,2022-11-27,sikka
4,4,3735,4cb29e43-9f23-42fe-bab8-2422f42e7a91,2022-11-29,sikka

In [56]:
user_offer_completion_data.columns

Index(['Unnamed: 0', 'reward_id', 'user_id', 'date', 'app_id'], dtype='object')

In [57]:
rewards_details.head()

,Unnamed: 0,offer_id,reward_id,label_in_english,total_payout_in_paise,total_revenue_in_paise
0,0,369,451,Download APK,500,0
1,1,400,488,Download,30,0
2,2,402,491,Download,500,0
3,3,447,541,Register on App,500,0
4,4,478,586,Complete Registration,500,0

In [58]:
rewards_details.columns

Index(['Unnamed: 0', 'offer_id', 'reward_id', 'label_in_english',
       'total_payout_in_paise', 'total_revenue_in_paise'],
      dtype='object')

In [59]:
# merge the User Signup data table with the User offer data table on user_id to get the app_id for each offer
user_offer_data = pd.merge(user_offer_data, user_signup_data[['user_id', 'app_id']], on='user_id', how='left')

In [60]:
#Offer Initiation by users
sikka_offers_initiated = user_offer_data[user_offer_data['app_id'] == 'Sikka']['offer_id'].nunique()
sikka_pro_offers_initiated = user_offer_data[user_offer_data['app_id'] == 'Sikka Pro']['offer_id'].nunique()

print("Sikka offers initiated:", sikka_offers_initiated)
print("Sikka Pro offers initiated:", sikka_pro_offers_initiated)

Sikka offers initiated: 0
Sikka Pro offers initiated: 0

In [61]:
#Offer Completion by users
sikka_offers_completed = user_offer_completion_data[user_offer_completion_data['app_id'] == 'Sikka']['reward_id'].nunique()
sikka_pro_offers_completed = user_offer_completion_data[user_offer_completion_data['app_id'] == 'Sikka Pro']['reward_id'].nunique()

print("Sikka offers completed:", sikka_offers_completed)
print("Sikka Pro offers completed:", sikka_pro_offers_completed)

Sikka offers completed: 0
Sikka Pro offers completed: 0

In [62]:
# Join user_offer_completion_data and rewards_details_data tables on reward_id column
user_rewards_data = pd.merge(user_offer_completion_data, rewards_details, on='reward_id')

# Calculate total rewards earned by users for each app
sikka_rewards_earned = user_rewards_data[user_rewards_data['app_id'] == 'Sikka']['total_payout_in_paise'].sum() / 100
sikka_pro_rewards_earned = user_rewards_data[user_rewards_data['app_id'] == 'Sikka Pro']['total_payout_in_paise'].sum() / 100

print("Sikka rewards earned:", sikka_rewards_earned)
print("Sikka Pro rewards earned:", sikka_pro_rewards_earned)

Sikka rewards earned: 0.0
Sikka Pro rewards earned: 0.0

In [63]:
#Rewards earned by users
# Join user_offer_completion_data and rewards_details_data tables on reward_id column
user_rewards_data = pd.merge(user_offer_completion_data, rewards_details, on='reward_id')

# Calculate total rewards earned by users for each app
sikka_rewards_earned = user_rewards_data[user_rewards_data['app_id'] == 'Sikka']['total_payout_in_paise'].sum() / 100
sikka_pro_rewards_earned = user_rewards_data[user_rewards_data['app_id'] == 'Sikka Pro']['total_payout_in_paise'].sum() / 100

print("Sikka rewards earned:", sikka_rewards_earned)
print("Sikka Pro rewards earned:", sikka_pro_rewards_earned)

Sikka rewards earned: 0.0
Sikka Pro rewards earned: 0.0

In [65]:
#Revenue generated
revenue_data = pd.merge(user_offer_completion_data, rewards_details, on='reward_id', how='inner')
revenue_data = revenue_data.groupby('app_id')['total_revenue_in_paise'].sum().reset_index()
print(revenue_data)

      app_id  total_revenue_in_paise
0      sikka                   39687
1  sikka_pro                   40457

Based on the analysis of the data for both apps, it can be seen that there were no offers initiated or completed for either Sikka or Sikka Pro. Additionally, no rewards were earned for either app. However, when considering the total revenue generated, it was found that Sikka Pro generated slightly more revenue than Sikka. Thus, based on this limited analysis, it can be concluded that Sikka Pro may be performing slightly better than Sikka.